/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fdc9e7;
  }
  
  /* Navigation Bar Styling */
  nav {
    margin-bottom: 30px;
  }
  
  .navbar-brand {
    font-size: 1.8rem;
    
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
  }
  
  /* Header Section */
  header {
    background-color: #d432f5;
  }
  
  header h1 {
    font-size: 2.5rem;
  }
  
  header p {
    font-size: 1.2rem;
    font-weight: lighter;
  }
  
  /* Footer Section */
  footer {
    background-color: #9c73ab;
  }
  
  footer a {
    text-decoration: none;
    color: #ffc107;
  }
  
  footer a:hover {
    color: #ff9800;
  }
  
  /* Card Styles */
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(255, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-text {
    color: #555;
  }
  
  .card-body .btn {
    background-color: #845787;
    color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  .card-body .btn:hover {
    background-color: #b773a9;
  }
  
  /* Responsive Layout */
  @media (max-width: 768px) {
    .col-md-4 {
      margin-bottom: 20px;
    }
  }
  